In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt

pd.options.display.max_rows =10
pd.options.display.float_format = "{:.1f}".format

In [2]:
train_df = pd.read_csv("../input/google-machine-learning-crash-course/california_housing_train (5).xls")
test_df = pd.read_csv("../input/google-machine-learning-crash-course/california_housing_test (2).csv")
train_df = train_df.reindex(np.random.permutation(train_df.index))

In [3]:
# Normalize dataset by converting each raw value to its Z-score
# For train dataset
train_df_mean = train_df.mean()
train_df_std = train_df.std()
train_df_norm = (train_df - train_df_mean)/train_df_std
train_df_norm.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
15415,-1.4,1.1,-1.5,-1.0,-1.0,-1.0,-1.0,-0.9,-0.5
6573,0.6,-0.7,-0.4,0.3,1.8,1.1,1.8,-0.7,0.1
16620,-1.6,1.3,-0.4,-0.2,-0.4,-0.5,-0.4,1.1,0.7
14384,-1.3,0.7,-0.8,0.3,0.0,0.0,0.0,0.7,0.9
5246,0.7,-0.7,-0.4,3.5,5.4,2.4,5.4,-0.1,0.2

In [4]:
# Normalize test dataset
test_df_mean = test_df.mean()
test_df_std = test_df.std()
test_df_norm = (test_df - test_df_mean)/test_df_std

In [5]:
# Create Binary label
threshold = 265000.0   #75th percentile of median house value
train_df_norm["median_house_value_is_high"] = (train_df["median_house_value"] > threshold).astype(float)
test_df_norm["median_house_value_is_high"] = (test_df["median_house_value"] > threshold).astype(float)
train_df_norm["median_house_value_is_high"].head(8000)

15415   0.0
6573    0.0
16620   1.0
14384   1.0
5246    0.0
         ..
3844    0.0
5469    0.0
4160    1.0
12351   0.0
8460    1.0
Name: median_house_value_is_high, Length: 8000, dtype: float64

In [6]:
# Represent features in feature columns
# Create an empty list that will hold created feature columns 
feature_columns = []

# Create numerical feature column to represent median_income
median_income = tf.feature_column.numeric_column("median_income")
feature_columns.append(median_income)

# Create numerical feature column to represent total_rooms
tr = tf.feature_column.numeric_column("total_rooms")
feature_columns.append(tr)